.not-found{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.not-found h1{
    font-size: 120px;
    color: #fff;
}
.not-found a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(155, 2, 2);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}